.logo-font{  /*로고 폰트*/
    font-family: 'Dongle', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    padding: 15px;
    text-align: center;
    color: rgb(51, 51, 179);
}
.header{
    display: inline-block;
}
/*바디*/
body{
    font-family: Arial, Helvetica, sans-serif;
}
/*검색 입력 칸*/
.search-box{
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 40px;
    font-size: 13px;
    width: 200px;

}
/*메뉴*/
.menu{
    display: flex;
    justify-content: center;
}
ul{
    list-style:none;
    margin:0; 
    padding:0;
}
a{
    text-decoration:none; color:rgb(255, 255, 255);
}
.menu:after{
    display:block; content:''; clear:both;
}
.menu > li{
    position:relative; float:left; margin-right:5px;
}
.menu > li > a{
    display:block; 
    padding:0 15px; 
    background:rgba(255, 255, 255, 0); 
    height:40px; 
    line-height:40px; 
    color:rgb(0, 0, 0);
}
.menu > li:hover .depth_1 {
    display:block;
}
.menu .depth_1{
    display:none; 
    position:absolute; 
    left:0; 
    right:0; 
    text-align:center;
}
.menu .depth_1 a{
    display:block; padding:5px; 
    background:rgb(255, 255, 255); 
    color:rgb(0, 0, 0); 
    border: 1px solid rgb(0, 0, 0);
}

/*검색 버튼*/
.search-button{
    border: none;
    background-color: transparent;
    background-image: url("images/검색.png");
    background-size: cover;
}
/*배너*/
div#slider {
    overflow: hidden; 
}
div#slider figure img {
    width: 20%;
    height: 500px;
}
div#slider figure { 
  position: relative;
  width: 500%;
  margin: 50px;
  top:0;
  left: 0;
  text-align: center;
  font-size: 0;
  -webkit-animation: 20s slidy ease-in-out infinite;
  animation: 20s slidy ease-in-out infinite; 
}

@keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
    120% { left: -400%; }
}
     