.logo-font{  /*로고 폰트*/
    font-size: 50px;
    text-align: center;
    font-family: 'Black Han Sans', sans-serif;
}
/*바디*/
body{
    font-family: Arial, Helvetica, sans-serif;
}
/*검색 입력 칸*/
.search-box{
    padding: 7px;
    border: 2px solid #ccc;
    border-radius: 6px;
    font-size: 20px;
    width: 600px;
}
/*메뉴 줄*/
.menu-container{
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
}
/*검색 버튼*/
.search-button{
    border: none;
    background-color: transparent;
    background-image: url("images/검색.png");
    background-size: cover;
}
/*메뉴*/
.menu{
    padding: 7px;
    width: 36px;
    height: 36px;
    margin-right: 20px;
}
/*계정*/
.user-button{
    border: none;
    background-color: transparent;
    background-image: url("images/계정.png");
    background-size: cover;
}
/*찜*/
.like-button{
    border: none;
    background-color: transparent;
    background-image: url("images/찜.png");
    background-size: cover;
}

/*배너*/
div#slider {
    overflow: hidden; 
}
div#slider figure img {
    width: 20%;
    height: 500px;
}
div#slider figure { 
  position: relative;
  width: 500%;
  margin: 50px;
  top:0;
  left: 0;
  text-align: center;
  font-size: 0;
  -webkit-animation: 20s slidy ease-in-out infinite;
  animation: 20s slidy ease-in-out infinite; 
}

@keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
    120% { left: -400%; }
}
     