.logo-font{  /*로고 폰트*/
    font-family: 'Dongle', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    padding: 15px;
    text-align: center;
    color: rgb(51, 51, 179);
}
.header{
    display: inline-block;
}
/*바디*/
body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
/*검색 입력 칸*/
.search-box{
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 40px;
    font-size: 13px;
    width: 200px;
}
/*메뉴*/
.menu{
    display: flex;
    justify-content: center;
}
ul{
    list-style:none;
    margin:0; 
    padding:0px;
}
a{
    text-decoration:none; color:rgb(255, 255, 255);
}
.menu:after{
    display:block; content:''; clear:both;
}
.menu > li{
    position:relative; float:left; margin-right:5px;
}
.menu > li > a{
    display:block; 
    padding:0 15px; 
    background:rgba(161, 33, 33, 0); 
    height:40px; 
    line-height:40px;
    color:rgb(0, 0, 0);
}
.menu > li:hover .depth_1 {
    z-index: 1;
    display:block;
}
.menu .depth_1{
    z-index: 1;
    display:none; 
    position:absolute; 
    top: 100%;
    left:0; 
    right:0; 
    text-align:center;
}
.menu .depth_1 a{
    z-index: 1;
    display:block; padding:5px; 
    background:rgb(255, 255, 255); 
    color:rgb(0, 0, 0); 
    border: 1px solid rgb(0, 0, 0);
}

/*검색 버튼*/
.search-button{
    border: none;
    background-color: transparent;
    background-image: url("images/검색.png");
    background-size: cover;
}



/*배너*/
[name="slide"] {display: none;}
.slidebox{
    z-index: -1;
    margin:0; 
    padding:0; 
    box-sizing: border-box;
    max-width: 1800px;
    width:100%; 
    margin: 0 auto;
}
.slidebox img{
    max-width: 100%;
}
.slidebox .slidelist{
    white-space: nowrap;
    font-size: 0;
    overflow: hidden;
    list-style: none;
}
.slidebox .slideitem{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}

.slidebox .slideitem label{
    position: absolute;
    z-index: -1;
    top:50%;
    transform: translateY(-50%);
    padding: 20px;
    border-radius: 50%;
    cursor: pointer;
}

[id="slide1"]:checked ~ .slidelist .slideitem {transform: translateX(0); -webkit-animation: 20s slide1 ease-in-out infinite; animation: slide1 20s ease-in-out infinite;}
[id="slide2"]:checked ~ .slidelist .slideitem {transform: translateX(-100%); -webkit-animation: 20s slide2 ease-in-out infinite; animation: slid2 20s ease-in-out infinite;}
[id="slide3"]:checked ~ .slidelist .slideitem {transform: translateX(-200%); -webkit-animation: 20s slide3 ease-in-out infinite; animation: slid3 20s ease-in-out infinite;}
[id="slide4"]:checked ~ .slidelist .slideitem {transform: translateX(-300%); -webkit-animation: 20s slide4 ease-in-out infinite; animation: slid4 20s ease-in-out infinite;}

@keyframes slide1 {
    0% { left: 0%; }
    23% { left: 0%; }
    25% { left: -100%; }
    48% { left: -100%; }
    50% { left: -200%; }
    73% { left: -200%; }
    75% { left: -300%; }
    98% { left: -300%; }
    100% { left: 0%; }
}
@keyframes slide2 {
    0% { left: 0%; }
    23% { left: 0%; }
    25% { left: -100%; }
    48% { left: -100%; }
    50% { left: -200%; }
    73% { left: -200%; }
    75% { left: 100%; }
    98% { left: 100%; }
    100% { left: 0%; }
}
@keyframes slide3 {
    0% { left: 0%; }
    23% { left: 0%; }
    25% { left: -100%; }
    48% { left: -100%; }
    50% { left: 200%; }
    73% { left: 200%; }
    75% { left: 100%; }
    98% { left: 100%; }
    100% { left: 0%; }
}
@keyframes slide4 {
    0% { left: 0%; }
    23% { left: 0%; }
    25% { left: 300%; }
    48% { left: 300%; }
    50% { left: 200%; }
    73% { left: 200%; }
    75% { left: 100%; }
    98% { left: 100%; }
    100% { left: 0%; }
}
.product {
    padding: 10px;
    margin: 10px;
    width: 500px;
    text-align: center;
    display: inline-block;
}

.product img {
    max-width: 100%;
    height: auto;
}
.sale {
    color: red;
    font-weight: bold;
}
.price {
    color: black;
    font-weight: bold;
}